.feed{
    flex: 5.5;

}


.feedWrapper{
    padding:20px;
}

.progress{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 25px;
}