.profile {
    display: flex;
    
}

.loadingWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
    width: 100vw 
}
.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border:3px solid white;
    cursor: pointer;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size:24px;
    margin:auto 5px ;
}
.profileName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileInfoDesc{
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
@media only screen and (max-width:480px) {
    width: fit-content;
    
}

}
.editDescInput {
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: transparent;
        
@media only screen and (max-width:480px) {
    height: 25px;
    width: 95%;
}   
}

.editDescInput:focus{
    outline: none;
}

.editDescDiv{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-left: 20px;
 
@media only screen and (max-width:480px) {
    
}
}





.profileRightBottom {
    display: flex;
}


.profileOptions{
    display: none;

        
@media only screen and (max-width:480px) {
    display: block;   
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

}
.profileOptions .links{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
    cursor: pointer;

}

.profilePictureUpload{
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
.profilePictureSpan{
    
}