.likesWrapper{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius:10px 10px 10px 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    max-height: 300px;
    overflow-x: hidden;
    z-index: 99;
    @media only screen and (max-width:480px) {
        width: 80%;
        height: 500px;

    }
}


.postLikesTop{
    display: flex;
    justify-content: space-between;
}

.likesContainer{
    overflow-y: scroll;
    overflow-x: hidden;

}
.numberOfLikes{
    font-size: 20px;
    color:#1877f2;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
}

.closeIcon{
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    cursor: pointer;
}


hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.likeListData{
    display: flex;
    padding: 3px;
    margin:2px 20px;
      align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.likeListData li{
    margin: 5px;
  
}

.userLikeImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


   
.linkClass {
    text-decoration: none;
    flex-direction:row ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: fit-content;
}